
*{
  box-sizing: border-box;
}
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .grid-container > div {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .grid-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .grid-container img:hover{
    transform: scale(1.1);
  }

  